body {
    margin: 10px;
    padding: 0;
    font-family: Arial;
}

/* Body */
h2 {
    text-align: center;
    color: #333;
}
.table_container{
    margin: 200px;
}
/* Filter Form */
form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="date"],
button {
    padding: 8px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}
table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

@media(max-width:1200px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;

    }

    #firstrow{
        background-color: #000000;
        border-radius: 5px;   
        text-align: center;
        color: white;
        align-items: center;
    }

    #firsthead{
        text-align: center;
    }


    td {
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    td::before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-title) " : ";
        float: left;
        text-align: left;
        font-weight: bold;
    }
    form {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
}
